<div>
    <br>
    <div class="col">
        <h1><b>Farmacias en turno</b></h1> 
        <br>
        <p>El estado inicial del mapa muestra todas las Farmacias de la Region Metropolitana, al utilizar el filtro se muestran solo las farmacias de turno ( En horario de atencion)</p>
        <p>Observación: la rest utilizada NO PROVEE las farmacias de turno. Solo las farmacias Abiertas a la hora actual</p>
        <p>       La api que si muestra las farmacias de turno se encuentra en: https://farmanet.minsal.cl/maps/index.php/ws/getLocalesTurnos</p> 
        <br>
        <label for="comunas">Filtrar por Comuna:</label>
        <select name="comunas" id="comunas" (change)="onSelectChange($event.target.value)">
            <!-- afterbegin -->
        </select>
        <p style="font-size: smaller;color: rgb(238, 9, 9);">* Hacer Click en un marcador despliega la información</p>
    </div>
    <br>
    <br>
    <div #map style="width:800px;height:400px"></div>

</div>
    